#player-map {
  width: 525px;
  height: 700px;
  position: relative;
  float: left;
}

#guess-map {
  width: 525px;
  height: 700px;
  position: relative;
  float: right;
  margin-right:10%;
}

#Start {
  margin-left: 2%;
}